/*-- scss:defaults --*/
$body-bg: #ffffff;
$body-color: #333333;
$link-color: #fa0707;
$link-color-box: #dcb885;
$link-color-box-external: #cbdf8a;
$font-family-sans-serif: "Arial", sans-serif;
$font-family-monospace: "Courier New", monospace;

/*-- scss:header-sizes --*/
$header-sizes: (
  h1: 2.5em,
  h2: 2em,
  h3: 1.5em,
  h4: 1.25em,
  h5: 1em,
  h6: 0.75em
);

/*-- scss:header-colors --*/
$header-colors: (
  h1: #16076e, // Dark Blue
  h2: #1a3a8a, // Slightly Lighter Blue
  h3: #1e5ca6, // Medium Blue
  h4: #227ec2, // Lighter Blue
  h5: #1e91c4, // Adjusted Blue
  h6: #157aa3  // Adjusted Blue
);

/*-- scss:rules --*/
@each $header, $size in $header-sizes {
  #{$header} {
    color: map-get($header-colors, $header);
    font-size: $size;
    font-family: $font-family-sans-serif;
  }
}

/*-- scss:custom-link-box --*/
.link-box {
  border: none;
  padding: 2px;
  border-radius: 5px;
  background-color: lighten($link-color-box, 20%);
  display: inline-block;
  text-decoration: none;
  color: $link-color;

  &:hover {
    background-color: $link-color-box;
    color: darken($link-color, 10%);
  }
}
